@{
    ViewData["Title"] = "Comment Form";
}

<h1>Questions, Comments & Suggestions</h1>

<p> Please give us your feedback on our app!</p>

<form method="POST">
    <div class="form-items">
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email" placeholder="Email Address"  />
        <textarea name="comment" minlength="1" maxlength="500" ></textarea>
        <button type="submit">Submit</button>
    </div>
</form>