@{
    ViewData["Title"] = "Example Feature";
}

<h1>Example Feature</h1>

<p>This is our feature and it is awesome.</p>

<p>Click <a asp-controller="Example" asp-action="Form">here</a> to give us your comments and suggestions as to how to make this feature even more awesome!</p>